$primary: #5C62C5;
$black: #000;
$dark-grey: #363636;
$light-grey: #D8D8D8;
$white: #FFF;
$red: red;


// PROGRESS BAR SETTINGS
$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;
$width: 100px;
